<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
<body>
  <div class="container-form">
    @if (flashMessages.has('form'))
      <div class="alert" role="alert">
        {{ flashMessages.get('form') }}
      </div>
    @endif
    <form action="{{ route('auth.login') }}" method="post">
      <h1 class="head-form">Login</h1>
      <input type="text" name="uid" placeholder="Nome ou email"/>
      <input type="password" name="password" placeholder="Senha" />
      <button type="submit">Entrar</button>
      <span>ou</span>
      <a href="{{ route('auth.register') }}">Faça seu registro</a>
    </form>
  </div>
</body>
</html>
