<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
<body>
  <div class="container-form">
    <form action="{{ route('auth.login') }}" method="post">
      @if (flashMessages.has('form'))
        <div role="alert">
          {{ flashMessages.get('form') }}
        </div>
      @endif

      <label>
        <input type="text" name="uid" placeholder="Nome ou email"/>
      </label>

      <label>
        <input type="password" name="password" placeholder="Senha" />
      </label>

      <button type="submit">Login<button>
    </form>
  </div>
</body>
</html>
