<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AdonisJS - A fully featured web framework for Node.js</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
<body>
  <header>
    <h1>Olá, seja bem vindo {{ auth.user.username }}</h1>
  </header>
  <main class="containerDashboard">
    <div class="currentTimer">
      <span class="hour"></span>
    </div>
    <div class="timerContainer">
      <span class="timer">00:00:00</span>
      <button class="onoff">INICIAR</button>
    </div>
  </main>
</body>
</html>
